*.exe
*.EXE

# auto-managed: files > 5MB
netvan-api/target/

# auto-managed large files (>5MB)
release/
# === auto: large files (>5MB) ===

# Auto-managed: files larger than 5 MB
netvan-api/target/release/deps/libsyn-a1e10970f940830a.rlib
netvan-api/target/release/deps/libsyn-ab1e2ad192788703.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/netvan-api.exe
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libaxum-9516b4768dea1593.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libaxum-9516b4768dea1593.rmeta
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libfutures_util-be61e579dcac97b9.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libfutures_util-be61e579dcac97b9.rmeta
netvan-api/target/x86_64-pc-windows-msvc/release/deps/liblibsqlite3_sys-a1d6d11b7f3d345c.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libreqwest-51788425e8a3c0a1.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/deps/librustls-4c4b9cc2475d252a.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libserde_core-d796f353f7a71f3c.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libserde_core-d796f353f7a71f3c.rmeta
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libtokio-e40023cef58a0172.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libtokio-e40023cef58a0172.rmeta
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libwinapi-43c88d2a35674fbf.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libwinapi-43c88d2a35674fbf.rmeta
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libwindows_sys-a0332b9c62151b8d.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libwindows_sys-a0332b9c62151b8d.rmeta
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libwindows_sys-bcf49fab42737f4b.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libwindows_sys-bcf49fab42737f4b.rmeta
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libwindows_sys-f05e57e62f97da5c.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libwindows_sys-f05e57e62f97da5c.rmeta
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libwindows-8dc3d7d08a93107e.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libwindows-8dc3d7d08a93107e.rmeta
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libwindows-95b25c6979cef866.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libwindows-95b25c6979cef866.rmeta
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libwindows-d58498e8035afc8b.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libwindows-d58498e8035afc8b.rmeta
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libzerocopy-d7ca0492f077445a.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libzerocopy-d7ca0492f077445a.rmeta
netvan-api/target/x86_64-pc-windows-msvc/release/deps/netvan_api.exe
netvan-webui/node_modules/@esbuild/win32-x64/esbuild.exe
netvan-webui/node_modules/echarts/dist/echarts.esm.js.map
netvan-webui/node_modules/echarts/dist/echarts.esm.mjs.map
netvan-webui/node_modules/echarts/dist/echarts.js.map
netvan-webui/node_modules/lightningcss-win32-x64-msvc/lightningcss.win32-x64-msvc.node
netvan-webui/node_modules/typescript/lib/_tsc.js
netvan-webui/node_modules/typescript/lib/typescript.js

# === commit-push-to-github large files (auto) ===

# commit-push-to-github: large files (>5MB) auto-ignored
netvan-api/target/debug/netvan-api.exe
netvan-api/target/debug/netvan_api.pdb
netvan-api/target/debug/deps/displaydoc-db9a8f50ac2bdcb6.pdb
netvan-api/target/debug/deps/libaxum-c7722b6c393bbcdc.rlib
netvan-api/target/debug/deps/libaxum-c7722b6c393bbcdc.rmeta
netvan-api/target/debug/deps/libcc-b50d21f6a8ff388c.rlib
netvan-api/target/debug/deps/libchrono-aa3baae5ca2e660d.rlib
netvan-api/target/debug/deps/libclap_builder-19f7e4b9ead6ef97.rlib
netvan-api/target/debug/deps/libfind_msvc_tools-642765557548836e.rlib
netvan-api/target/debug/deps/libfutures_util-614ff0fc5d7df3a1.rlib
netvan-api/target/debug/deps/libfutures_util-614ff0fc5d7df3a1.rmeta
netvan-api/target/debug/deps/libhyper-22c132a4945a50d2.rlib
netvan-api/target/debug/deps/libhyper_util-23dfeaebe4935959.rlib
netvan-api/target/debug/deps/libicu_locale_core-148aff63d6ae51e5.rlib
netvan-api/target/debug/deps/libicu_properties-067d58c335473891.rlib
netvan-api/target/debug/deps/liblibsqlite3_sys-102328134c1823ee.rlib
netvan-api/target/debug/deps/libnetvan_collectors-1f98b93e81b04511.rlib
netvan-api/target/debug/deps/libnetvan_core-160e1371760db6a5.rlib
netvan-api/target/debug/deps/libntapi-a593b201b53ae6d7.rlib
netvan-api/target/debug/deps/libntapi-a593b201b53ae6d7.rmeta
netvan-api/target/debug/deps/libregex_automata-baa0959091861d68.rlib
netvan-api/target/debug/deps/libregex_syntax-77ce5a4c2961fcf1.rlib
netvan-api/target/debug/deps/libreqwest-f95070c91cea57fe.rlib
netvan-api/target/debug/deps/libring-ccd0d3f4fb2a66a7.rlib
netvan-api/target/debug/deps/librusqlite-2f1e5c7e76759ffb.rlib
netvan-api/target/debug/deps/librustls-aadab1e773f6fff0.rlib
netvan-api/target/debug/deps/libserde_core-c4f30c371920b2af.rlib
netvan-api/target/debug/deps/libserde_json-57681f0eddbf5e99.rlib
netvan-api/target/debug/deps/libsyn-108ba48351ddc61f.rlib
netvan-api/target/debug/deps/libsyn-451a02bf20fcb40f.rlib
netvan-api/target/debug/deps/libsyn-5ac5457ff5f1011c.rlib
netvan-api/target/debug/deps/libsyn-f6bb275634ce58c3.rlib
netvan-api/target/debug/deps/libsynstructure-69367d5324eb4ffd.rlib
netvan-api/target/debug/deps/libsysinfo-0fdb753e06d21949.rlib
netvan-api/target/debug/deps/libtokio-7cefd3e5a1acfcbd.rmeta
netvan-api/target/debug/deps/libtokio-941fc4f33e21cf54.rlib
netvan-api/target/debug/deps/libtokio-941fc4f33e21cf54.rmeta
netvan-api/target/debug/deps/libtracing_subscriber-413021be976aa1ee.rlib
netvan-api/target/debug/deps/libtungstenite-3361d5d23e5ad1ed.rlib
netvan-api/target/debug/deps/libvcpkg-78a8959ac7d77f7c.rlib
netvan-api/target/debug/deps/libwebpki-15ad042e676c1b9c.rlib
netvan-api/target/debug/deps/libwinapi-0b344c4122d82fa1.rlib
netvan-api/target/debug/deps/libwinapi-0b344c4122d82fa1.rmeta
netvan-api/target/debug/deps/libwindows-044bf6045eda0d87.rmeta
netvan-api/target/debug/deps/libwindows-2d354920463e19ca.rlib
netvan-api/target/debug/deps/libwindows-2d354920463e19ca.rmeta
netvan-api/target/debug/deps/libwindows-3fbc5f7a1440be55.rlib
netvan-api/target/debug/deps/libwindows-3fbc5f7a1440be55.rmeta
netvan-api/target/debug/deps/libwindows-cfcaaf0a970ab8c1.rmeta
netvan-api/target/debug/deps/libwindows-f1a39390e208e085.rmeta
netvan-api/target/debug/deps/libwindows-f44055ea95ea0560.rlib
netvan-api/target/debug/deps/libwindows-f44055ea95ea0560.rmeta
netvan-api/target/debug/deps/libwindows_core-82a43ba174682ba5.rlib
netvan-api/target/debug/deps/libwindows_sys-0347cb0752ed4da1.rlib
netvan-api/target/debug/deps/libwindows_sys-11805a8f0c7155d2.rmeta
netvan-api/target/debug/deps/libwindows_sys-2a569ae473f99473.rmeta
netvan-api/target/debug/deps/libwindows_sys-3d5669fe59d55179.rlib
netvan-api/target/debug/deps/libwindows_sys-3d5669fe59d55179.rmeta
netvan-api/target/debug/deps/libwindows_sys-6f0f84bc5ae5c4a4.rmeta
netvan-api/target/debug/deps/libwindows_sys-713ddf15fc435115.rlib
netvan-api/target/debug/deps/libwindows_sys-713ddf15fc435115.rmeta
netvan-api/target/debug/deps/libwindows_sys-f56f979594854860.rlib
netvan-api/target/debug/deps/libwindows_sys-f56f979594854860.rmeta
netvan-api/target/debug/deps/libwmi-cb943f282466d537.rlib
netvan-api/target/debug/deps/libzerocopy-541f333136e62157.rmeta
netvan-api/target/debug/deps/libzerocopy-a03527a05aa87c7b.rlib
netvan-api/target/debug/deps/libzerocopy-a03527a05aa87c7b.rmeta
netvan-api/target/debug/deps/netvan_api.exe
netvan-api/target/debug/deps/netvan_api.pdb
netvan-api/target/debug/deps/zerovec_derive-f9a1bf344033ec66.pdb
netvan-api/target/debug/incremental/netvan_api-0c1dcp9emj9m5/s-hmeps9euo0-0ppg2c6-220tecbb6qx0fgu6loij4nv7i/dep-graph.bin
netvan-api/target/debug/incremental/netvan_api-0c1dcp9emj9m5/s-hmet1kkf2y-0vmeigg-a36o02g4lploj09sqdei8dbx8/dep-graph.bin
netvan-api/target/debug/incremental/netvan_api-0dbz7pdf5kk0c/s-hmetdm5zti-1d05scj-exx67nx782n6nk7zw1iwz8fql/dep-graph.bin
netvan-api/target/debug/incremental/netvan_api-0yy3bgkwzxgje/s-hmet2p92ts-04fykgj-2292fvzt8mqx0l8bb6hv45lka/dep-graph.bin
netvan-api/target/debug/incremental/netvan_api-1thz35w0yaj3k/s-hmet9pkg07-12e374t-4hndgnivvda126deyld5qtgkj/dep-graph.bin
netvan-api/target/debug/incremental/netvan_api-1thz35w0yaj3k/s-hmetdm5vf7-0q4pf9a-4hndgnivvda126deyld5qtgkj/dep-graph.bin
netvan-api/target/debug/incremental/netvan_api-2fcuu2lw9e1co/s-hmet1kkexv-0g2ejtb-2fq9n5jai6i76uvly2cxyqzwk/dep-graph.bin
netvan-api/target/debug/incremental/netvan_api-2mwwhvrfemd9q/s-hmet2p8uqp-1xjarnu-0gxcos37pjybki2ksdv4xxpcu/dep-graph.bin
netvan-api/target/debug/incremental/netvan_api-3odhlh6ejt9ey/s-hmept11b5c-1eyfbsf-c0p45wipll5nol4hmy3n4cn1z/86gebsqbfque5yu8abduu2an4.o
netvan-api/target/debug/incremental/netvan_api-3odhlh6ejt9ey/s-hmept11b5c-1eyfbsf-c0p45wipll5nol4hmy3n4cn1z/dep-graph.bin
netvan-api/target/debug/incremental/netvan_api-3odhlh6ejt9ey/s-hmept11b5c-1eyfbsf-c0p45wipll5nol4hmy3n4cn1z/query-cache.bin
netvan-api/target/debug/incremental/netvan_collectors-0aidlwwdz72g2/s-hmepszhmns-16ybuw9-aop92n4e7a0k0manmvwt8pguh/dep-graph.bin
netvan-api/target/debug/incremental/netvan_collectors-0aidlwwdz72g2/s-hmepszhmns-16ybuw9-aop92n4e7a0k0manmvwt8pguh/query-cache.bin
netvan-api/target/debug/incremental/netvan_collectors-0hk1aa9mf2kyt/s-hmet2o6ua7-1fcv4l2-6197fyco4y44f2bkjgqcvlxyp/dep-graph.bin
netvan-api/target/debug/incremental/netvan_collectors-0hk1aa9mf2kyt/s-hmetdlu5sa-0ugfkw9-6197fyco4y44f2bkjgqcvlxyp/dep-graph.bin
netvan-api/target/debug/incremental/netvan_collectors-11umycdvz8cr9/s-hmeps8uf42-0c2cju6-d3mjn2m2bfkna9n9y0p35axzm/dep-graph.bin
netvan-api/target/debug/incremental/netvan_collectors-23q9cqax0nrfm/s-hmet1kkbje-1plz9ev-10eupotgvu8r7v54sb5n19dlc/dep-graph.bin
netvan-api/target/debug/incremental/netvan_collectors-3j3z5l7793fjc/s-hmet2o71ld-0fzu5yy-ac04wnwup6yv2tw5t6m97onwz/dep-graph.bin
netvan-api/target/debug/incremental/netvan_collectors-3j3z5l7793fjc/s-hmetdlu2by-0ajf6y2-ac04wnwup6yv2tw5t6m97onwz/dep-graph.bin
netvan-api/target/debug/incremental/netvan_core-0cb3b3jgz1e52/s-hmet2m3n59-18kx563-4k1nbf38kxzdizf7ki2mj2oj4/dep-graph.bin
netvan-api/target/debug/incremental/netvan_core-0cb3b3jgz1e52/s-hmetdli0cj-1pibp7f-4k1nbf38kxzdizf7ki2mj2oj4/dep-graph.bin
netvan-api/target/debug/incremental/netvan_core-1a6wb6fqzku3b/s-hmepso8h16-0fj8u26-avy05hqqz4hsnnkcguyfseffd/dep-graph.bin
netvan-api/target/debug/incremental/netvan_core-1a6wb6fqzku3b/s-hmepso8h16-0fj8u26-avy05hqqz4hsnnkcguyfseffd/query-cache.bin
netvan-api/target/debug/incremental/netvan_core-1hw9ftyqef73l/s-hmet2m3k03-199zy21-e8n7ebbcfkw8scoe897u0yey2/dep-graph.bin
netvan-api/target/debug/incremental/netvan_core-1hw9ftyqef73l/s-hmetdli0ce-0qgf8h8-e8n7ebbcfkw8scoe897u0yey2/dep-graph.bin
netvan-api/target/release/netvan_api.pdb
netvan-api/target/release/deps/libaxum-9323fedc211c94b5.rlib
netvan-api/target/release/deps/libaxum-9323fedc211c94b5.rmeta
netvan-api/target/release/deps/libfutures_util-5ee46d97752f8b97.rlib
netvan-api/target/release/deps/libfutures_util-5ee46d97752f8b97.rmeta
netvan-api/target/release/deps/liblibsqlite3_sys-141e6f7dde26d268.rlib
netvan-api/target/release/deps/libreqwest-d72d7d667d67e606.rlib
netvan-api/target/release/deps/librustls-db5d3d22aa09b48d.rlib
netvan-api/target/release/deps/libserde_core-4d58103a3868fa73.rlib
netvan-api/target/release/deps/libserde_core-4d58103a3868fa73.rmeta
netvan-api/target/release/deps/libtokio-318c8d399c75911f.rlib
netvan-api/target/release/deps/libtokio-318c8d399c75911f.rmeta
netvan-api/target/release/deps/libwinapi-bcdbe35fcc5aa863.rlib
netvan-api/target/release/deps/libwinapi-bcdbe35fcc5aa863.rmeta
netvan-api/target/release/deps/libwindows-0176a185f1d0ab0a.rlib
netvan-api/target/release/deps/libwindows-0176a185f1d0ab0a.rmeta
netvan-api/target/release/deps/libwindows-54e0f9fcde6ffaaa.rlib
netvan-api/target/release/deps/libwindows-54e0f9fcde6ffaaa.rmeta
netvan-api/target/release/deps/libwindows-a2a0a478e85cf132.rlib
netvan-api/target/release/deps/libwindows-a2a0a478e85cf132.rmeta
netvan-api/target/release/deps/libwindows_sys-1f418b91a0738450.rlib
netvan-api/target/release/deps/libwindows_sys-1f418b91a0738450.rmeta
netvan-api/target/release/deps/libwindows_sys-216cd01f7f7eef16.rlib
netvan-api/target/release/deps/libwindows_sys-216cd01f7f7eef16.rmeta
netvan-api/target/release/deps/libwindows_sys-afe67e223d0d21d2.rlib
netvan-api/target/release/deps/libwindows_sys-afe67e223d0d21d2.rmeta
netvan-api/target/release/deps/libzerocopy-faef77526aeb6297.rlib
netvan-api/target/release/deps/libzerocopy-faef77526aeb6297.rmeta
netvan-api/target/release/deps/netvan_api.exe
netvan-api/target/release/deps/netvan_api.pdb
netvan-api/target/x86_64-pc-windows-msvc/debug/deps/libwindows_sys-22c321e0a9670077.rmeta
netvan-api/target/x86_64-pc-windows-msvc/debug/deps/libwindows_sys-a4b1bda4d39003f3.rmeta
netvan-api/target/x86_64-pc-windows-msvc/debug/deps/libzerocopy-2b0580077e5a59d4.rmeta
netvan-api/target/x86_64-pc-windows-msvc/release/netvan_api.pdb
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libaxum-1f3f911b5fc29944.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libaxum-1f3f911b5fc29944.rmeta
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libfutures_util-c869a2240e2e7d82.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libfutures_util-c869a2240e2e7d82.rmeta
netvan-api/target/x86_64-pc-windows-msvc/release/deps/libreqwest-3f8f550f7db6d4eb.rlib
netvan-api/target/x86_64-pc-windows-msvc/release/deps/netvan_api.pdb
